<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boleta de pago del empleado</title>
</head>
<body>
    <div>
        <h2>Boleta de Pago del Empleado</h2>
        <p>Codigo : {{ codigo }}</p>
        <p>Nombre : {{ nombre }}</p>
        <p>Fecha Ingreso : {{ fecha_ingreso }}</p>
        <p>Cargo : {{ cargo }}</p>
        <p>Area : {{ area }}</p>
        <p>Sueldo Total : {{ sueldo_total }}</p>
        <p>Descuento (%) : {{ descuento }}</p>
        <p>Sueldo Neto : {{ sueldo_neto }}</p>
        <br>
        <a href="{% url 'registrar' %}">Nuevo empleado</a>
    </div>
</body>
</html>