<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrar pago del empleado</title>
</head>

<body>
    <div>
        <h2>Registrar Pago del Empleado</h2>
        <form method="post"> <!-- Si no se especifica el action, por defecto se usa la url actual -->
            {% csrf_token %}
            {{ form.as_p }}
            <button>Procesar</button>
        </form>
    </div>
</body>

</html>